# Ignorer les fichiers compilés
*.exe
*.dll

# Ignorer les fichiers logs
*.log

# Ignorer les dossiers spécifiques
/node_modules
/dist
/data

# Ignorer les fichiers de config locaux
.env

# Ignorer les fichiers JSON
*.json